.App {
  text-align:right
}

.App-header {
  background-color: #004643;
  max-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

nav ul{
  list-style: none;
}

.burgerMenuContainer {
  color: #232946;
  position: absolute;
  top: 0;
  right: 0;

}

