.search {
    display: flex;
    position: relative;
    background-color: #004643;
    padding-bottom: 10px; 
    display: flex;
    align-content: center;
    flex-direction: column;
}
.search input {
    background-color: #abd1c6;
    border:0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 18px;
    height:30px;
    width: 250px;
    padding-left: 20px;
    box-shadow: black;
}
.dataResult {
    margin-top: 10px;
    width: 250px; 
    height: 200px; 
    font-size: 18px;
    background-color: #abd1c6;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    align-self: center;    
}
.dataResult .dataItem {
    color: black;
}
dataItem p {
    margin-left: 10px;
}
