.search {
    background-color: #004643;
    padding-bottom: 10px; 
}
.search input {
    background-color: #abd1c6;
    border:0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 18px;
    height:30px;
    width: 250px;
    padding-left: 20px;
}
.dataResult {
    margin-top: 1px;
    width: 300px; 
    height: 200px; 
    font-size: 18px;
    background-color: grey;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
}
.dataResult::-webkit-scrollbar {
    display:-moz-popup;
}
.dataResult .dataItem {
    color: black;
}
dataItem p {
    margin-left: 10px;
}
a {
    text-decoration: none;
}
a:hover {
    background-color: lightgrey;
}
#clearBtn {
    cursor: pointer;
}