.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #eebbc3;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .h1 {
    font-size: 50px; 
    color: #232946 ;
    font-family: Optima, sans-serif ;
    font-weight: bold ;
    text-shadow: 2px 2px #b8c1ec;

  }

  .searchBar {
    position:relative;  
    left:0%;
    top:25%;
    width:30%;  
    
  }

  li {
    display: inline;
    border-right: 1px solid #0e172c;
    padding: 6px;

    }


  .burgerMenuContainer {
    color: #232946;
    position: absolute;
    top: 0;
    right: 10px;
  }
