.App-header {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  max-height: 250px;
  background-color: #004643;

}
.h1 {
  color: #f9bc60 ;
  font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif' ;
  font-weight: bold ;
}
.App {
  text-align: center;
  background-color: #004643;
  color: #f9bc60
}
ul{
  display: flex;
  align-content: center;
  flex-direction: row;
  color: #f9bc60;
}
li {
list-style: none;
  padding: 6px;
  margin-right: 5px;
  margin-left: 5px;
  }

  body {
    font-style: normal;
  }

  .signOutButton{
    background: none;
    color: #f9bc60; 
    border: none;
    font-size: 20px;
    font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif' ;

  }

  a:link {
    color: #f9bc60 ;
  }
  
  /* visited link */
  a:visited {
    color: #f9bc60 ;
  }
  
  /* mouse over link */
  a:hover {
    color: #f9bc60 ;
  }
  
  /* selected link */
  a:active {
    color: #f9bc60 ;
  }
