body {
  background-color: #fffffe;
  color: #094067;
}

.App {
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-weight: bold;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: #094067;

}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: white;
  text-align: right;
  float: right;


}

.button {
  font-weight: bold;
}
