body {
  background-color: #f9f8fc;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: #0e172c;
  background-color: #fec7d7;

}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: #00473e;
  text-align: right;
  float: right;


}

.button {
  font-weight: bold;
}
